<?xml version="1.0" encoding="utf-8"?>
<configuration>
     <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <appSettings>      
      <add key="Column_MessageName" value="1"/>
      <add key="Column_MessageID" value="2"/>
      <add key="Column_MessageSendType" value="3"/>
      <add key="Column_MessageCycle" value="4"/>
      <add key="Column_MessageDLC" value="5"/>
      <add key="Column_SignalName" value="6"/>
      <add key="Column_SignalDescription" value="7"/>
      <add key="Column_SignalByteFormat" value="8"/>
      <add key="Column_SignalStartBit" value="9"/>
      <add key="Column_SignalBitLength" value="10"/>
      <add key="Column_SignalDataType" value="11"/>
      <add key="Column_SignalResolution" value="12"/>
      <add key="Column_SignalOffset" value="13"/>
      <add key="Column_SignalMinPhy" value="14"/>
      <add key="Column_SignalMaxPhy" value="15"/>
      <add key="Column_SignalMinHex" value="16"/>
      <add key="Column_SignalMaxHex" value="17"/>
      <add key="Column_SignalInitValue" value="18"/>
      <add key="Column_SignalInvalidValue" value="19"/>
      <add key="Column_SignalUnit" value="20"/>
      <add key="Column_SignalValueDescription" value="21"/>

      <add key="StartOfFirstRow" value="2"/>
      <add key="NumberLineOfHeader" value="1"/>
      <add key="CurrentSheet" value="CANMatrix"/>
    </appSettings>
</configuration>
